// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #6D6E6A;
$dark-gray: #42433E;
$light-gray: #F4F4F4;
$white: white;
$black: black;
$purple: #8B47B9;
