<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('/assets/bar.jpg');">
  <div class="container">
    <h1>London's finest online <strong>cocktail</strong> bar
    <p>Where you don't need to be a mixologist to make good cocktails</p>
    <%= link_to 'Make a cocktail', new_cocktail_path, class: "button-white" %>
  </div>
</div>
<br>
<div class="container">
<h1>All cocktails (<%=  @cocktails.count %>)</h1> <br>
  <div class="cards-container">
    <% @cocktails.each do |c| %>
    <div class="card">
      <%= link_to c.name, cocktail_path(c.id) %>
    </div>
    <% end %>
  </div>
</div>
