h1 {
 color: $dark-gray;
}

h2 {
  color: $dark-gray;
  font-family: $body-font;
}

a {
  color: $dark-gray;
  opacity: 0.6;
  text-decoration: none;
  font-size: 15px;
  font-family: $body-font;
  opacity: 1;
}

a:hover {
  color: $purple;
}

p {
  color: $dark-gray;
  font-family: $body-font;
}
