h1 {
  color: $dark-gray;
  padding-top: 16px;
}

a {
    color: $gray;
    text-decoration: none;
    font-size: 15px;
}

p {
  color: $dark-gray;
}
// .ingredients li {
//   list-style-type: none;
// }
