.button {
  border-radius: 14px;
  background: $purple;
  padding: 5px 10px;
  color : $white;
}

.button:hover {
  background: $light-gray;
  text-decoration:none;
  color: $purple;
  border: 1px solid $purple;
}
