.card-category {
  background-size: cover;
  background-position: center;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $light-gray;
  font-size: 24px;
  font-weight: bold;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);

  a {
    color: $light-gray;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
  }

  h1 {
    color: $light-gray;
  }
}

