.navbar {
  justify-content: flex-end;
  background-color: transparent;
  transition: 0.5s background-color ease;
  position: fixed;
  top: 0;
  width: 100%;
  a {
    color: $dark-gray;
    background: $light-gray;
  } :hover {
    color: $purple;
  }
}

.navbar-white {
  background-color: $light-gray;

  a {
    color: $dark-gray;
  } :hover {
    color: $purple;
  }
}
